<div class="w-full flex flex-col">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <header class="form-header flex justify-between">
    <%= link_to 'Back', :back, class: "back-button" %>
    <h2>LOGIN</h2>
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  </header>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
<% end %>

<%= link_to "Forgot your password?", new_user_password_path %>
</div>
