<div class="relative w-full flex bg-gradient-to-tr from-primary to-dark-blue">
 <%= render 'layouts/nav' %> 

  <div class="w-full flex flex-col bg-off-white relative" id="content">
    <header class="bg-primary flex justify-between p-2">
      <button id="menu-btn">
        <%= image_tag 'menu.svg', alt: 'back arrow' %>
      </button>
      <h2 class="text-white">CATEGORIES</h2>
      <%= link_to '#', class: "text-white" do %>
        <%= image_tag 'search.svg', alt: 'search icon' %>
      <% end %>
    </header>

    <div class="flex flex-col p-5 gap-2">
      <% @categories.each do |category| %>
        <div class="w-full">
          <%= link_to category_expenses_path(category) do %>
            <div
              class="flex gap-2 items-center bg-white rounded-lg shadow-lg p-2"
            >
              <%=
                image_tag category.icon,
                          alt: 'category image',
                          class: 'w-16 h-16'
              %>
              <div class="flex-grow">
                <p
                  class="flex justify-between font-bold text-sm text-accent-100"
                >
                  <span><%= category.name %></span>
                  <span><%=
                      number_to_currency(category.expenses.sum(:amount))
                    %></span>
                </p>
                <p class="text-sm text-accent-100 mt-3">
                  <%= category.updated_at.strftime('%d %b %Y') %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="mt-auto bg-secondary p-2">
      <%=
        link_to 'ADD CATEGORY',
                new_category_path,
                class:
                  'block w-full text-center no-underline font-bold bg-transparent text-white border border-white p-2 rounded cursor-pointer'
      %>
    </div>
  </div>
</div>
