<div class="w-full flex flex-col bg-off-white session">
  <%= form_with model: @category, method: :post do |f| %>
    <header class="bg-primary flex justify-between p-2 mb-5">
     <%= link_to categories_path, class: "text-white" do %>
        <%= image_tag 'back-arrow.svg', alt: 'back arrow' %>
      <% end %>
      <h2 class="text-white">ADD CATEGORY</h2>
      <div class="actions">
        <%= f.submit 'Add', class: 'text-white cursor-pointer' %>
      </div>
    </header>

    <div class="field mb-1 px-1 rounded-md">
      <%= f.label :name, class: 'hidden' %>
      <%=
        f.text_field :name,
                     autofocus: true,
                     placeholder: 'Category name',
                     class:
                       'block w-full border-0 focus:ring-1 focus:ring-primary'
      %>
    </div>

    <div class="field mx-1 px-3 py-2 bg-white rounded-md flex gap-2 text-accent-100">
      <%= f.label "Icon:" %>
      <%= f.file_field :icon, class: 'text-accent-100' %>
    </div>
  <% end %>
</div>
