<div class="relative w-full flex bg-gradient-to-tr from-primary to-dark-blue">
  <%= render 'layouts/nav' %>

  <div class="w-full flex flex-col bg-off-white relative" id="content">
    <header class="bg-primary flex justify-between p-2">
     <%= link_to 'javascript:history.back()', class: "text-white" do %>
        <%= image_tag 'back-arrow.svg', alt: 'back arrow' %>
      <% end %>
      <h2 class="text-white"><%= @category.name %></h2>
      <%= link_to 'javascript:history.back()', class: "text-white" do %>
        <%= image_tag 'search.svg', alt: 'back arrow' %>
      <% end %>
    </header>

    <div>
      <div class="flex justify-between px-2 py-5 bg-white text-accent-100 font-bold mb-2">
        <h2>Total:</h2>
        <span><%= number_to_currency(@category.expenses.sum(:amount)) %></span>
      </div>
      <div class="flex flex-wrap justify-center">
        
      </div>
    </div>

    <div class="mt-auto bg-secondary p-2">
      <%=
        link_to 'ADD TRANSACTION',
                new_category_expense_path(@category),
                class:
                  'block w-full text-center no-underline font-bold bg-transparent text-white border border-white p-2 rounded cursor-pointer'
      %>
    </div>
  </div>
</div>
