<div class="w-full flex flex-col bg-off-white session">
  <%= form_with model: @expense, url: category_expenses_path, method: :post do |f| %>
    <header class="bg-primary flex justify-between p-2 mb-5">
      <%= link_to 'javascript:history.back()', class: "text-white" do %>
        <%= image_tag 'back-arrow.svg', alt: 'back arrow' %>
      <% end %>
      <h2 class="text-white">ADD TRANSACTION</h2>
      <div class="actions">
        <%= f.submit 'Add', class: 'text-white cursor-pointer' %>
      </div>
    </header>

    <div class="field mb-1 px-1 rounded-md">
      <%= f.label :name, class: 'hidden' %>
      <%=
        f.text_field :name,
                     autofocus: true,
                     placeholder: 'Expense name',
                     class:
                       'block w-full border-0 focus:ring-1 focus:ring-primary'
      %>
    </div>

    <div class="field mb-1 px-1">
      <%= f.label :amount, class: 'hidden' %>
      <%=
        f.number_field :amount,
                       placeholder: 'Amount',
                       class:
                         'block w-full border-0 focus:ring-1 focus:ring-primary',
                       min: 0,
                       step: 'any'
      %>
    </div>

    <div class="field px-1">
      <%=
        f.collection_select :category_ids,
                            @categories,
                            :id,
                            :name,
                            { include_blank: 'Select at least one category' },
                            { multiple: true, size: 5, class: 'block w-full border-0 focus:ring-1 focus:ring-primary text-accent-100' }
      %>
    </div>
  <% end %>
</div>
