<header
  class="absolute z-1 flex flex-col h-screen w-[300px] pl-5 py-[50px] bg-transparent close"
  id="menubar"
>
  <div class="flex flex-col items-center gap-2">
    <%=
      image_tag 'placeholder.png',
                class: 'block w-[75px] h-auto rounded-full',
                id: 'avatar',
                data: {
                  avatar_path: asset_path('placeholder.png'),
                }
    %>
    <% if user_signed_in? %>
      <h3 class="text-white"><%= current_user.name %></h3>
    <% else %>
      <h3 class="text-white">Guest</h3>
    <% end %>
  </div>

  <nav>
    <ul class="flex flex-col">
      <li class="flex gap-5 items-center">
        <%=
          image_tag 'setting.svg',
                    alt: 'icons',
                    class:
                      'block w-[24px] h-[24px] p-0.5 border border-white rounded-full'
        %><a href="#" class="block w-full border-b border-white py-5 text-white"
          >Account settings</a
        >
      </li>
      <li class="flex gap-5 items-center">
        <%=
          image_tag 'location.svg',
                    alt: 'icons',
                    class:
                      'block w-[24px] h-[24px] p-0.5 border border-white rounded-full'
        %><a href="#" class="block w-full border-b border-white py-5 text-white"
          >Merchant finder</a
        >
      </li>
      <li class="flex gap-5 items-center">
        <%=
          image_tag 'promo.svg',
                    alt: 'icons',
                    class:
                      'block w-[24px] h-[24px] p-0.5 border border-white rounded-full'
        %><a href="#" class="block w-full border-b border-white py-5 text-white"
          >Claim promo</a
        >
      </li>
      <li class="flex gap-5 items-center">
        <%=
          image_tag 'share.svg',
                    alt: 'icons',
                    class:
                      'block w-[24px] h-[24px] p-0.5 border border-white rounded-full'
        %><a href="#" class="block w-full border-b border-white py-5 text-white"
          >Share promo</a
        >
      </li>
    </ul>
  </nav>
  <div class=" flex gap-5 mt-auto">
    <%=
      image_tag 'login.svg',
                alt: 'icons',
                class:
                  'block w-[24px] h-[24px] p-0.5 border border-white rounded-full'
    %>
    <%=
      button_to(
        'Sign Out',
        destroy_user_session_path,
        method: :delete,
        class: 'text-center cursor-pointer text-white',
      )
    %>
  </div>
</header>
